#box1 {
   
    display: grid;
    grid-template-columns: repeat(5,auto);
    border: 1px solid rgb(255,231,95);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   padding-left: 70px;
   cursor: pointer;
   
}
#box2 {
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin-top: 20px;
    gap:10px;
    text-align: center;
}
#box2 > div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px solid rgb(255,231,95);
    cursor:pointer;
    padding-top: 20px;
}
#box2 > div > button {
    margin-bottom: 40px;
    cursor: pointer;
}
#sort{
   
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    
}