body{
 padding: 0%;
 margin: 0%;
}

#box1 {
   
    display: grid;
    grid-template-columns: repeat(5,400px);
    border: 1px solid rgb(227, 204, 72);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    cursor: pointer;
    padding: 20px 0px 20px 30px;
    gap: 10px 0px;
   max-width: 88%;
   margin: auto;
   margin-top: 10px;
}

#box1 p:hover {
    font-size: large;
    color:rgb(227, 204, 72);
}

#box2 {
    display: grid;
    grid-template-columns: repeat(4,auto);
   
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width:90% ;
    margin: auto;
    margin-top: 20px;
    gap: 10px;
}
#box2 > div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px solid rgb(255,231,95);
    cursor:pointer;
    padding: 20px;
    width: 300px;
   
  
  
   
}

#box2 >div:hover{
    background-color:whitesmoke;
    font-size:large;
  font-style:italic;
}
#box2 > div > button {
    margin-bottom: 40px;
    cursor: pointer;
   border-radius:2px;
    gap: 20px;
    margin-top: 10px;
}

#box2 > div > button:hover{
    background-color:rgb(97, 149, 97);
 
  font-size:larger;
 
  
   
}
#box2 > div > img{
    height:180px;
}
#sort{
   display: flex;
   justify-content: flex-end;
  
  margin: auto;
    gap: 10px;
    max-width: 90%;
    margin-top:15px;
    
}
#sort > button:hover{
    border: 0px;
    background-color: transparent;
    font-size:large ;
    cursor: pointer;
    color:tan;
   
}
#buttons{
    text-align: center;
    margin-top: 10px;
}
#buttons > button{
   margin: 5px;
   border: 2px solid wheat;
   cursor: pointer;
}

#buttons > button:hover{
    font-size:large;
    background-color: darksalmon;
   border: 2px solid black;
}
#total{
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 20px;

}
#Totalitem{
color: rgb(154, 205, 50);
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;



}
#Totalcost{
    color: yellowgreen;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
    
}
#all{
    text-decoration:underline;
 color: darkcyan;
}
#all:hover{
    color:blue;
    
   font-style: initial;
}
#box3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;
   gap:20px;
   margin-left: 18%;

}
#box3 > div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px solid red;
    width: 50%;
    padding: 5%;
    background-color: whitesmoke;
}
#box3 > div:hover{
    background-color: azure;
}
#box3 > div > img{
    width:50%;
    height:50%;
}
#Count{
    margin-bottom: 10px;
    display: flex;
   justify-content: space-evenly;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.dis_div{
    color:whitesmoke;
    text-align: center;
    font-style: italic;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position:absolute;
   height: 50px;
   width:50px;
   background-color:red;
   padding:5px;
   margin-top:-18%;
   margin-left:16.5%;
   border-radius:50%;

}
.headnav  {
    display: flex;
    clear: both;
    text-align: center;  
    background-color: #fff;
    white-space: nowrap;
  }
  
  .headrop{
    position: absolute;
    top:  2.813rem;
    width: 100%;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav-catle:hover .headrop{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
  #checkout{
   width: 90%;
   margin-left:85px;
   margin-top: 5px;
   border: 0px;
   background-color: yellow;
   cursor: pointer;
    
  }